<h1 class="text-center">Edit Recipe</h1>
<p class="text-center">
  NOTE: old ingredients <b>cannot be deleted</b>, but new can be added
  </p>

<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2 class="h2-error"> oops, the following errors occured:</h2>
    <% @recipe.errors.full_messages.each do |msg| %>
      <p><%= msg %>!</p>
    <% end %>
  </div>
<% end %>

<%= render partial: "form", locals: {form_action: "update", recipe: @recipe, ingredients: @ingredients, recipe_ingredient: @recipe_ingredient} %>
