<div class="container">
  <h1>Hi <%= @current_user.name %></h1>
  <% if @current_user.recipes.empty? %>
    <h3>You have not created any recipies yet.</h3>
  <% else %>
    <h3>Your Recipes: </h3>
    <ul>
    <% for r in @current_user.recipes%>
      <li>
        <h4><%= link_to r.name, recipe_path(r) %></h4>
      </li>
    <% end %>
    </ul>
  <% end %>
  <br>
  <h3>Check Out These Popular Recipes: </h3>
  <!--- NOT displaying in order of most_popular anymore, fix later ---->
  <div id="recipesInfo">
  </div>

</div>
